/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos body */
body {
    font-family: 'Arial', sans-serif;
    background: #e0f7fa;
    color: #333;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #2a5298; /* Color de fondo para contraste */
}

section {
    height: 100vh;
    background-color: #2a5298;
}
section:before {
    content: '';
    display: block;
    margin-top: 50px; /* Desplaza la secci贸n hacia arriba */
}

/* Nieve */
@keyframes snow {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); }
}

.snowflake {
    position: fixed;
    top: -10px;
    left: calc(100% * var(--i));
    font-size: calc(10px + var(--size) * 10);
    animation: snow linear infinite;
    animation-duration: calc(5s + var(--speed) * 5s);
    color: rgb(255, 255, 255);
    opacity: 0.8;
    z-index: 9999; 
}

h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}



/* Barra de navegaci贸n */
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(90deg, #8B0000, #FF4500);
    color: white;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    
}

.nav-links li {
    margin: 0 1rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;

}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s, text-shadow 0.3s;

}

.nav-links a:hover {
    color: gold;
    text-shadow: 0 0 8px gold;
}

.nav-links a::before {
    content: "";
}

/* Cerrar sesi贸n */

.logout {
    margin-left: auto;
}

.logout a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: #d32f2f;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout a:hover {
    background-color: #b71c1c;
}


/* Carrito en la barra de navegaci贸n */
.cart-nav {
    display: none; /* Ocultar el carrito por defecto */
    margin-right: 1rem;
}

.cart-icon {
    position: relative;
    font-size: 2rem; /* Tama帽o del emotic贸n */
    cursor: pointer;

}

.cart-counter {
    position: absolute;
    top: -5px; /* Ajusta la posici贸n en relaci贸n al emoticono */
    right: -10px; /* Ajusta la posici贸n en relaci贸n al emoticono */
    background-color: #d32f2f;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 50%;
    min-width: 20px;
    text-align: center;
}

/* Modal del carrito */
.cart-modal {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* Ocultar por defecto */
    z-index: 1000;
    width: 400px;
    max-height: 60%;
    overflow-y: auto;
}

.cart-modal h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.cart-modal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-modal ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

#close-cart {
    background-color: #fbc02d;
    color: #3e2723;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

#close-cart:hover {
    background-color: #3e2723;
    color: white;
}

#empty-cart {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

#empty-cart:hover {
    background-color: #b71c1c;
}

.remove-item {
    color: #d32f2f;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

#checkout-cart {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

#checkout-cart:hover {
    background-color: #388e3c;
}

/* Portada */
.contador h1 {
    background: rgba(255, 255, 255, 0.8);
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 2rem;
}

/* Estilo de las secciones */
section {
    height: 100vh;
    background-color: #2a5298;
}


/* Estilos espec铆ficos de cada secci贸n */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
    color: white;
    
}

.contador h1 {
    background: silver;
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 2rem;
}

#home h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: gold;
    text-shadow: 0 4px 8px rgba(255, 223, 0, 0.8), 0 -2px 4px rgba(255, 255, 255, 0.8);
    margin-bottom: 1rem;
    position: relative;
}

#home h1::after {
    font-size: 1.5rem;
    position: absolute;
    top: -10px;
    right: -30px;
}

/* Estilos para la secci贸n Historia */
#Historia {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh; 
}

.titulo-historia {
    color: gold;
    text-shadow: 0 4px 8px rgba(255, 223, 0, 0.8), 0 -2px 4px rgba(255, 255, 255, 0.8);
    font-family: 'Dancing Script', cursive;
    margin-top: 1rem; 
    margin-bottom: 2rem; 
    width: 100%; 
    text-align: center; 
}

.cuento-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 80%;
}

.cuento-container p {
    background-color: white;
    font-size: 1.9rem;
    padding: 15px;
}

.cuento {
    width: 60vh; 
    height: 70vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
}

.cuento img, .cuento p {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px; 
}

.cuento1, .cuento2, .cuento3, .portada {
    display: none;
    width: 80%;
    height: 60%;
    margin: 0 auto;
}

.cuento1.active, .cuento2.active, .cuento3.active, .portada.active {
    display: block;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 2rem;
}

.volver-pagina, .pasar-pagina {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #8B0000 ;
    color: #fff;
    transition: background-color 0.3s;
}

.volver-pagina:hover, .pasar-pagina:hover {
    background-color: #FF4500;
}



/* Estilos para la secci贸n Mapa */
#Mapa {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#Mapa h2 {
    color: gold;
    text-shadow: 0 4px 8px rgba(255, 223, 0, 0.8), 0 -2px 4px rgba(255, 255, 255, 0.8);
    font-family: 'Dancing Script', cursive;
    margin-top: 1rem; 
    margin-bottom: 2rem;
    width: 100%; 
    text-align: center;
}

.contenedor-mapa {
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenedor-mapa path {
    fill: silver; 
    stroke: black;
    stroke-width: 0.5px;
    cursor: pointer;
}

.contenedor-mapa path:hover {
    fill: gold; 
}
.contenedor-mapa a:hover path {
    fill: red; /* Color rojo para Finlandia al pasar el rat贸n por encima */
}

/* Estilos para el modal */
.modal-mapa {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


.modal-mapa {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content-mapa {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.cerrar-modal-mapa {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.cerrar-modal-mapa:hover {
    background-color: darkred;
}


/* Estilos para la secci贸n Venaverme */
#Venaverme {
    height: 100vh;
    padding: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contenedor-venaverme {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.titulo-venaverme {
    color: gold;
    text-shadow: 0 4px 8px rgba(255, 223, 0, 0.8), 0 -2px 4px rgba(255, 255, 255, 0.8);
    font-family: 'Dancing Script', cursive;
    align-self: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}


.contenido-venaverme {
    display: flex;
    flex: 1;
    width: 100%;
    gap: 2rem;
}


.mensaje-personalizado {
    flex: 1;
    font-size: 1.9rem;
    background-color: silver;
    padding: 1.5rem;
    border-radius: 10px;
    align-self: center;
    color: #333;
    height: 500px;
}


#TestComportamiento {
    height: 80vh;
    flex: 1;
    padding: 2rem;
    background-color: silver;
    border-radius: 10px;
    color: #333;
    height: 500px;
    align-self: center;
}

#formularioTest {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(4, auto); 
    gap: 1rem; 
    justify-items: stretch; 
    align-items: center; 
}


.titulo-test {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #3e2723;
}
#test-instructions {
    margin-bottom: 0.5rem;
}


.pregunta {
    margin: 0; 
    padding: 0.5rem; 
    background-color: #f5f5f5; 
    border-radius: 8px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.pregunta input {
    margin: 0.5rem; 
}

#evaluarTest {
    grid-column: span 2; 
    justify-self: center; 
    align-self: center; 
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #8B0000 ;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
#evaluarTest:hover {
    background-color: #FF4500;
}

.resultado-test {
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    color: #333;
}

#modal-message {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#modal-close {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modal-close:hover {
    background-color: #b71c1c;
}



/* Secci贸n Merch */
#merch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    border-bottom: 2px solid #ddd;
    box-sizing: border-box;
    padding: 3rem 2 rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: auto;
    padding-top: 100px;
}

#merch h1 {
    font-size: 2.5rem;;
    margin-bottom: 1rem;
    color: gold;
    text-shadow: 0 4px 8px rgba(255, 223, 0, 0.8), 0 -2px 4px rgba(255, 255, 255, 0.8);
    font-family: 'Dancing Script', cursive;
}

#merch p {
    font-size: 1.5  rem;
    margin-bottom: 2rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Dancing Script', cursive;
    background-color: #ddd;
    border-radius: 8px;
}

/* Contenedor de productos */
.merch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

/* Estilo de cada producto */
.merch-item {
    background-color: #fff;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.merch-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.merch-img {
    width: 80%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.merch-description {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #555;
    padding: 0 1rem;
    text-align: center;
}

/*Bot贸n de comprar*/
.add-to-cart {
    padding: 0.75rem 1.5rem;
    background-color:#8B0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color:  #FF4500;
}

footer {
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom right, #335503, #77a153); 
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-family: Arial, sans-serif;
    border-color: white;
    border: 2px solid white; 
}


/* Responsive */
@media (max-width: 768px) {
    section:before {
        content: '';
        display: block;
        margin-top: 25px; 
    }
    
    /* Barra de navegaci贸n*/
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #3e2723;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: flex-start; 
        transition: max-height 0.3s ease-in-out;
        transform: translateY(-100%);
        padding-top: 4rem;
        z-index: 50;
    }

    .nav-links li {
        margin: 1rem 0;
        ;
    }

    .logout,
    .cart-nav {
        align-items: center;
    }

    .cart-nav {
        display: none;
        margin-right: 0;
        margin-bottom: 8px;
        margin-left: 10px;
        order: 1;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateY(0);
    }

    /* Secciones */
    .section {
        min-height: 100vh;
        animation: fadeIn 1s ease-in-out;
        
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    

    #merch {
        height: auto;
        padding: 2rem 1rem;
        padding-top: 100px;
    }

    .merch-container{
        flex-direction: column;
        align-items: center;
    }

    .merch-item {
        width: 80%;
        margin-bottom: 2rem;
    }

    .merch-description {
        font-size: 1.1rem;
    }

    .logout {
        margin-left: auto;
    }

    .carta-container {
        padding: 1rem;
    }

    .carta-form label {
        font-size: 1rem;
    }

    .carta-form textarea {
        font-size: 0.9rem;
    }

    .enviar-button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
    .mensaje-personalizado {
        font-size: 1rem; 
   }

   #TestComportamiento .pregunta{
       font-size: 0.5rem; 
       margin-bottom: 0.2rem;
       padding: 0.3rem;
   }

   #TestComportamiento .titulo-test{
       font-size: 1.2rem; 
       margin-bottom: 0.5rem;
   }

   #TestComportamiento p{
       font-size: 0.65rem; 
   }

   #evaluarTest {
       margin: 0.25rem;
   }

   .cuento-container p {
       font-size: 1.7rem;
       padding: 10px;
   }
   #TestComportamiento input {
    margin: 3px; 
}
}

/* Estilos para m贸vil */
@media (max-width: 600px) {

    #TestComportamiento .pregunta{
        font-size: 0.5rem; 
        margin-bottom: 0.1rem;
        padding: 0.2rem;
    }

    #TestComportamiento .titulo-test{
        font-size: 1rem; 
        margin-bottom: 0.3rem;
    }

    #TestComportamiento p{
        font-size: 0.6rem; 
    }
    #TestComportamiento input {
        margin: 0; 
    }

    #evaluarTest {
        font-size:0.5rem ;
        margin: 0.3rem;
    }


}
